@external x-toolbar-mark;

.button {
    outline: none;
    cursor: pointer;

}

.hasWidth .mainTable {
    width: 100%;
}

button td {
    text-align: center;
    display: inline-block;
}

@if !user.agent ie6  {
    .button td img {
        float: left;
    }
    .iconTop td img, .iconBottom td img {
        float: none;
    }
} @else {
    .iconTop {
    }
    .iconBottom {
    }
}

.iconWrap {
    padding: 0px 2px;
}

.text {
    margin: 10px;
    text-decoration: none;
    font: bold 1.5em 'Trebuchet MS', Arial, Helvetica; /*Change the em value to scale the button*/
    display: inline-block;
    text-align: center;
    color: #fff;

}

.iconWrap div {
    font-size: 1px;
}

.small .iconLeft td, .small .iconRight td, .small .noIcon td {
    line-height: 18px;
}

.medium .iconTop .iconWrap div, .medium .iconBottom .iconWrap div {
    height: 20px;
}

.medium .iconLeft td, .medium .iconRight td, .medium .noIcon td {
    line-height: 24px;
}

.medium .iconTop .iconWrap div, .medium .iconBottom .iconWrap div {
    height: 26px;
}

.large .iconLeft td, .large .iconRight td, .large .noIcon td, .large .iconWrap div {
    line-height: 32px;
}

.large .iconTop .iconWrap div, .large .iconBottom .iconWrap div {
    height: 34px;
}

.over {
}

.pressed {
}