.content {
}

.frame {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 16px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

    border-radius: 20px;
    border: solid 1px #7e7e7e;
    background: #fbfbfb;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#a9a9a9));
    background: -moz-linear-gradient(top, #ffffff, #a9a9a9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#a9a9a9');
}

.frame:hover {
    color: #f5f5f5;
    border: solid 1px #7A7879;
    background: -webkit-gradient(linear, left top, left bottom, from(#F18812), to(#CF5E00));
    background: -moz-linear-gradient(top, #F18812, #CF5E00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F18812', endColorstr='#CF5E00');
}

.frame:active {
    color: #f5f5f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#c26b0e), to(#ab5200));
    background: -moz-linear-gradient(top, #c26b0e, #ab5200);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c26b0e', endColorstr='#ab5200');
}

.contentArea {
}

.focus {
}

.over {
}

.pressed {
}

