<table hideFocus="-1" class="{style.frame}" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td class="{style.contentArea}">
            <div class="{style.content}">{content}</div>
        </td>
    </tr>
    </tbody>
</table>